<form>
    <h1>Contact Us</h1>
    <div>
    <label for="name">Name</label><br>
    <input type="text" id="name" placeholder="Jiara Martins">
    </div>
    <div>
    <label for="email">Email</label><br>
    <input type="email" id="email" placeholder="hello@reallygreatsite.com">
    </div>
    <div>
    <label for="message">Message</label><br>
    <textarea id="message" cols="20" rows="3" placeholder="Write your message here"></textarea>
    </div>
    <button type="submit">Send the message</button>
</form>
